**/node_modules
**/distTest

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml
.vscode

# OS metadata
.DS_Store
Thumbs.db

# Client binaries
.gradle
client/crypto-sdk/build
client/crypto-sdk/deps/libgpg-error/libgpg-error-*
client/crypto-sdk/deps/libgcrypt/libgcrypt-*
client/crypto-sdk-android/crypto-sdk/.externalNativeBuild
client/crypto-sdk-android/crypto-sdk/build
client/crypto-sdk-javascript/build
client/crypto-sdk-javascript/deps
examples/android-sample-app/build
