lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# API keys and secrets
.env

# Dependency
node_modules
bower_components
package-lock.json
# yarn.lock

# Editors
.idea
.history
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Configuration files
config/production.json

# Docker-compose tmp files
docker-compose.test.yml.tmp*

# Databases
db
.ldb_history
