version: 2
jobs:
  build:
    machine: true
    steps:
      - checkout
      - run: docker build -t ${DOCKER_IMAGE}:$(echo $CIRCLE_BRANCH | sed -e 's/\//-/g') .
      - run: DOCKER_TAG=$(echo $CIRCLE_BRANCH | sed -e 's/\//-/g') ./docker-test.sh
      - run: $(aws ecr get-login --no-include-email --region us-west-2)
      - run: docker push ${DOCKER_IMAGE}:$(echo $CIRCLE_BRANCH | sed -e 's/\//-/g')
      - store_artifacts:
          path: logs

  deploy:
    machine: true
    steps:
      - checkout
      - run: cd deploy && yarn install && ./deploy-staging.sh

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: feature/delivery-to-clients
