version: '2'

services:
  base-service:
    image: ${DOCKER_IMAGE}:${DOCKER_TAG}
    command: node dist/index.js ${NODE_CONFIG_PATH}
    volumes:
      - ../../../logs:/opt/orbs/logs
    environment:
      NODE_NAME: ${NODE_NAME}
      NODE_ENV: test
      GOSSIP_PEERS: ${GOSSIP_PEERS}
